$('#samplRemote')
. <%= link_to 'フォロー外す', unfollow_path(user.id),method: :POST, remote: true,class: "btn btn-secondary" %>
$('#samplRemote')
 <%= link_to 'フォローする', follow_path(user.id),method: :POST, remote: true, class: "btn btn-primary" %>