
<div class="center">
  <h1>K-siteへようこそ！</h1>
  <h2>登録して友達の写真や動画をチェックしよう</h2>

  <%= link_to "登録する", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", user_session_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "facebook", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary" %>
  
  <% if user_signed_in? %> 
  <% end %>
</div>
