// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width:1170px;
  padding:0 15px;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  width: 100%;
  padding:180px 0 100px 0;
  display: block;
  flex: 1;
}


